.key-features-container {
    margin-top: 80px;
}

.main-text {
    font-weight: bolder;
    text-align: center;
    letter-spacing: 0.04em;
    color: white;
}

.features {
    background-color: #1F2028;
}