.key-features-container {
    display: inline-block;
    margin-top: 80px;
}

.main-text {
    text-align: center;
    color: white;
}

.features {
    background-color: var(--base-secondary-color);
    width: 90vw;
}