.Hero {
    width: 100%;
    height: 40vh;
    display: inline-block;
}

.Hero-main-text {
    font-weight: bolder;
    text-align: center;
    letter-spacing: 0.04em;
    padding-top: 75px;
}

.Hero-subtext {
    text-align: center;
    margin-left:25px;
    margin-right: 25px;
}