.Tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border-radius: 14px;
    height: auto;
    min-height: 340px;
    background-color: var(--base-secondary-color);
    flex-shrink: 1;
}

@media screen and (max-width: 767px){
    .TileMobile {
        max-width: 355px;
        width: 355px;
    }
}